@keyframes donut-chart-fill {
  to { stroke-dasharray: 0 100; }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.donut {
  width: 30%;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  svg {
    width: 100%;
  }
}

.donut-segment {
  animation: donut-chart-fill 1.5s reverse ease-in;
}

.donut-label {
  font-size: 40px;
}

.donut-ring {
  stroke: #EBEBEB;
}

.donut-percent {
  font-size: 0.5em;
  line-height: 1;
  transform: translateY(0.5em);
}

.donut-text {
  fill: #000;
}

::ng-deep {
  .dark-theme {
    .donut-text {
      fill: #fff;
    }
  }
}
