.wrapper {
  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.card {
  float: left;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 20px 0 0;

  .title {
    color: lightgray;
    font-size: 1.2rem;
    margin-top: 2rem;
  }
}

.donut-chart {
  position: relative;
  border-radius: 50%;
  overflow: hidden;

  .quad {
    position: absolute;
    top: 0;
    left: 0;
  }

  .chart-center {
    position: absolute;
    border-radius: 50%;

    span {
      display: block;
      text-align: center;
    }
  }
}

@mixin donut-chart($name, $perc, $size, $width, $speed, $base, $center, $color, $textColor: $color, $textSize: 40px) {

  $deg: calc(($perc / 100 * 360)) + deg;

  @keyframes #{$name} {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate($deg);
    }
  }

  @keyframes chartRotate2 {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(90deg);
    }
  }

  @keyframes chartRotate3 {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(180deg);
    }
  }

  @keyframes chartRotate4 {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(270deg);
    }
  }

  @keyframes chartCover {
    0%, 90% {
      opacity: 1;
    }

    91%, 100% {
      opacity: 0;
    }
  }

  .donut-chart {
    &.#{$name} {
      width: $size;
      height: $size;
      background: $base;

      .quad {
        width: calc($size / 2);
        height: calc($size / 2);
        top: 0;
        left: 0;
        border-radius: 100% 0 0 0;
        display: none;

        &.one {
          -webkit-transform: rotate($deg);
          -webkit-transform-origin: bottom right;
          background: $color;
          -webkit-animation: #{$name} $speed linear;

          @if $perc > 0 {
            display: block;
          }
        }

        &.two {
          -webkit-transform: rotate(90deg);
          -webkit-transform-origin: bottom right;
          background: $color;
          -webkit-animation: chartRotate2 $speed linear;

          @if $perc > 25 {
            display: block;
          }
        }

        &.three {
          -webkit-transform: rotate(180deg);
          -webkit-transform-origin: bottom right;
          background: $color;
          -webkit-animation: chartRotate3 $speed linear;

          @if $perc > 50 {
            display: block;
          }
        }

        &.four {
          -webkit-transform: rotate(270deg);
          -webkit-transform-origin: bottom right;
          background: $color;
          -webkit-animation: chartRotate4 $speed linear;

          @if $perc > 75 {
            display: block;
          }
        }

        &.top {
          display: block;
          background: $base;

          @if $perc > 75 {
            opacity: 0;
            -webkit-animation: chartCover .01s linear $speed/1.2 both;
          }
        }
      }

      .chart-center {
        top: $width;
        left: $width;
        width: $size - ($width * 2);
        height: $size - ($width * 2);
        background: $center;

        &:after {
          display: inline-block;
          width: 100%;
          font-size: calc($size / 5);
          color: $textColor;
          text-align: center;
          line-height: $size - ($width * 2);
          content: '#{$perc}%';
        }
      }
    }
  }
}

@include donut-chart('chart1', 20, 18vw, 2vw, 2s, #d9d8df, #fff, #f9922e);

@include donut-chart('chart2', 50, 18vw, 2vw, 3s, #d9d8df, #fff, #fc45cb);

@include donut-chart('chart3', 30, 18vw, 2vw, 1.5s, #d9d8df, #fff, #2398d2);


::ng-deep {
  .dark-theme {
    @include donut-chart('chart1', 20, 18vw, 2vw, 2s, #383c59, #fff, #f9922e);

    @include donut-chart('chart2', 50, 18vw, 2vw, 3s, #383c59, #fff, #fc45cb);

    @include donut-chart('chart3', 30, 18vw, 2vw, 1.5s, #383c59, #fff, #2398d2);

    .donut-chart .quad.top {
      background: #383c59 !important;
    }
  }
}
